<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Emilia | Music</title>
</head>
<body class="music">
    <header class="header--horizontal">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
    
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-spotify"></i></a>
                <a href=""><i class="fa-brands fa-apple"></i></a>
                <a href=""><i class="fa-brands fa-amazon"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <nav>
            
                <h5>Direct links</h5>
                
                <ul type="none">
                    <li><a href="#album">Album</a></li>
                    <li><a href="#v1">Video: Organic Love</a></li>
                    <li><a href="#v2">Video: Street Light</a></li>
                </ul>
        </nav>
        <section>
            <article>
                <h3 id="album">Album<br> Twist in my reality</h3>
                <img src="/img/emilia-play-list.png" alt="emilia-play-list">
                <ol>
                    <li>► Organic Love | 02:40</li>
                    <li>► Twist In My Reality | 02:10</li>
                    <li>► Street Light | 03:28</li>
                    <li>► Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go top</a>
            </article>
            <article>
                <h2 id="v1">Video <br> Organic Love</h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                
                <a href="#">Go top</a>
            </article>
            <article>
                <h2 id="v2">Video <br> Street Light</h2>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                
                <a href="#">Go top</a>
            </article>
        </section>
    </main>
</body>
</html>